<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastrar</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<h2 style="text-align: center;">CADASTRO</h2>
<br>
<form th:action="@{/registrar}" th:object="${user}" method="post">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="row justify-content-center">
                    <label class="col-2">Nome: </label>
                </div>
                <div class="row justify-content-center">
                    <input class="col-6" type="text" th:field="*{nome}" placeholder="Seu nome"/>
                </div>
                <br/>
                <div class="row justify-content-center">
                    <label class="col-2">Email: </label>
                </div>
                <div class="row justify-content-center">
                    <input class="col-6" type="email" th:field="*{email}" placeholder="seu@email.com"/>
                </div>
                <br/>
                <div class="row justify-content-center">
                    <label class="col-2">Senha: </label>
                </div>
                <div class="row justify-content-center">
                    <input class="col-6" type="password" th:field="*{senha}"/>
                </div>
                <br/>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-success col-3">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
</form>
    <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
</body>
</html>